<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bangers&Mash Website</title>
        <link rel="stylesheet" href="styles.css" />
        <script src="https://kit.fontawesome.com/fab302bd26.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo"><i class="fa-solid fa-headphones-simple"></i>Bangers&Mash</a>
                <div>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/index.html" class="navbar__links">All Songs</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/modify_playlist.html" class="navbar__links">Modify Playlist</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/search.html" class="navbar__links">Find Song</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/about.html" class="navbar__links">About</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/" class="button">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
